.container {
    border: 2px solid black;
    box-sizing: border-box !important;
    border-radius: 10px;
    margin: 10px auto !important;
    padding: 10px;
    margin-bottom: 5vmin;
    max-width: 400px;
    min-height: 170px;
    align-items: center !important;
    background-color: #e7f5ff;
    height: 130px;
    position: relative;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1) !important;
}
