.players-container {
  display: flex;
  flex-direction: column; /* Display items in a column */
  align-items: center; /* Center items horizontally */
  background-color: #31473a;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.player-item {
  border: 2px solid black; 
  box-sizing: border-box !important;
  border-radius: 10px;
  margin: 10px auto !important;
  padding: 20px;
  margin-bottom: 5vmin;
  min-width: 300px; /* Adjust as needed */
  align-items: center !important;
  background-color: #e7f5ff; 
  height: 80px;
  position: relative; 
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1) !important; 
}

.player-item div {
  flex: 1; /* Allow the text to wrap within the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
  max-width: fit-content;
}

.title {
  color: black;
  background-color: #40c057;
}
